.header{
    display: flex;
    font-size: 20px;

    .logo{
        width: 30%;
    }

    .menu{
        display: flex;
        list-style: none;
        width: 70%;
        padding: 0;

        li{
            padding: 0 20px;
        }
    }
}

